[2017-02-06 10:23] Piiit opened #2 "Feature Request: Add git commit title and description to "Last commit:""
Would be nice to have more information under "Last commit:" of each applet etc. on the webpage. Otherwise I have to click each time and go to github to understand what has been done recently. Would be nice to have a short overview of the last commit message and a "read more..." link to github.

Last commit hash is not meaningful for the regular spices website visitor. I would suggest to remove it

[2017-02-06 10:25] Piiit opened #3 "Theme previews are huge images"
https://cinnamon-spices.linuxmint.com/git/themes/Blue-mint/screenshot.png for instance is more than 700KB.

This makes it very slow to load the page.

[2017-02-06 13:17] NikoKrause opened #4 "Feature request: Add option "requirements" in info.json"
Some applets need certain applications to be installed to run correctly.
Often authors writing those requirements into the Readme.
But often it has to many infos to be Seen.

It would be nice to have an Option "requirements", where the author could put the info, which packages need to be installed. This info should be shown on the website (need to ask Designers how to present this info the best wa

[2017-02-06 17:11] NikoKrause opened #5 "fixed size for applets/desklets/extensions icons"
Some icons look squashed, e.g.
![screenshot-area-2017-02-06-180558](https://cloud.githubusercontent.com/assets/8415124/22657499/024a8b7a-ec97-11e6-8f73-aabf8e9dc3df.png)
Though it uses an 48x48 pixel icon
![icon](https://cloud.githubusercontent.com/assets/8415124/22657527/1d0831a6-ec97-11e6-94bb-76a4f4ca1c2b.png)

We should define a fixed size (48x48), which should be used by xlet developers. Curr

[2017-02-06 17:30] MrElectroNick commented on #5
Interesting - layout is a bit currupted in firefox but fine in Chrom(e|ium)

[2017-02-06 17:34] #5 closed

[2017-02-06 17:56] ccprog opened #6 "Make sure metadata last-edited is consistent"
On the advice of @NikoKrause, I am copying https://github.com/linuxmint/cinnamon-spices-applets/issues/25 here - hope this is the right place now.

Currently, the `last-edited` entry in metadata.json is not touched when the download .zip is generated, while the entry in the website's `/json/applet.json` is updated. As a consequence, an applet downloaded and installed by hand will be immediately sh

[2017-02-06 18:16] NikoKrause opened #7 "Mardown isn't shown properly"
Checklist, Table and Line (=====) is not shown properly on Spices Website,
compare this
https://cinnamon-spices.linuxmint.com/applets/view/281
with this
https://github.com/linuxmint/cinnamon-spices-applets/tree/master/CinnVIIStarkMenu@NikoKrause

[2017-02-08 14:02] NikoKrause opened #8 "Screenshot is not updated on spices website"
If you replace the screenshot.png in GitHub, it still shows the old screenshot on Spices Website.

This happens the second time.
This time it's https://cinnamon-spices.linuxmint.com/applets/view/96

[2017-02-08 20:03] clefebvre commented on #8
Cache refreshed.

[2017-02-08 20:03] #8 closed

[2017-02-13 14:47] jake1164 opened #9 "Can we add a Downloaded (or maybe Installed) statistic"
In order to help users decide if they want to install an spice, can an additional statistic be added to count the number of downloads / installs from the website.

[2017-02-13 14:49] Odyseus opened #10 "General suggestions for the Spices website"
### General improvements

- [ ] Create an **About** or **Disclaimer** page where it is specified in details what the Spices website is, how does it work and who are the actual providers of the published xlets/spices. A good example would be the [Mozilla About page](https://addons.mozilla.org/en-GB/about) on their AMO (addons.mozilla.org) website. It just makes sense.
- [ ] Do not just remove obsol

[2017-02-13 15:15] MrElectroNick commented on #7
Maybe that's because GitHub use their own Markdown render?
I can't find a standard which say that (=====) should be converted into horizontal rule

According to this: http://daringfireball.net/projects/markdown/syntax

HORIZONTAL RULES

You can produce a horizontal rule tag (`<hr />`) by placing three or more hyphens, asterisks, or underscores on a line by themselves. If you wish, you may use spac

[2017-02-13 16:18] NikoKrause commented on #7
Thanks.
The spices website uses this parser: http://parsedown.org/

It doesn't parse the checklist. Other parsers do not as well. I'll replace it with a normal list.

But the lines on the table are not shown. It's not dramatic either. At least it aligns properly.

So I think those problems are all due to the fact, that GitHub uses a slightly different parser for their website.

[2017-02-13 17:01] NikoKrause commented on #10
The applets, which were removed till now were abandoned broken applets or obsolete applets. The broken ones were only deleted, when they had a working fork, e.g. some applets only exists because the author abandoned his applet and ignored fixes in the comments of his applet. People forked those and fixed them. There's no need in keeping both applets, the broken and the fixed, if they don't have si

[2017-02-13 17:16] MrElectroNick commented on #7
Yes. GitHub has its own. Lines in the table, missing left borders for quotes is just a CSS issue which is fixable.

Same as line height of headings and their sized. I'll try to make it look more like in github with CSS changes

[2017-02-13 22:35] NikoKrause opened #11 "place of author looks strange, when applet name is really long"
Look at this applet:
https://cinnamon-spices.linuxmint.com/applets/view/83

Between name of applet and author there is a big gap:
![screenshot-area-2017-02-13-233415](https://cloud.githubusercontent.com/assets/8415124/22906493/fd84d9fc-f244-11e6-984c-a334214705ab.png)

[2017-02-14 17:30] nyrrad commented on #11
Fixed by applying flex-wrap.

[2017-02-14 17:30] #11 closed

[2017-02-15 01:20] Odyseus commented on #10
Hello, @NikoKrause.

#### About xlets deletion

Now that I think of it, this repository wasn't the right place to suggest this (kind of off-topic here).

The part were I said *"in case an author comes back"* isn't really important. The *"historical purposes"* is what I consider important. My thinking is as follows. All code, broken or not, is important. Not just to see *how things are done*, but t

[2017-02-19 18:12] NikoKrause opened #12 "horizontal scrolling, when tiled in half"
When I tile a window in half I usually get a horizontal scrollbar.
That's not the case for the spices website.

[2017-02-20 12:03] NikoKrause opened #13 "Invalid description"
This applet https://cinnamon-spices.linuxmint.com/applets/view/207 says `Invalid description`

The metadata.json file looks like this:
[code]
Where does that come from? Is it because of the `é` or because of `'` ? It should show them anyway.

[2017-02-20 12:55] NikoKrause commented on #7
@MrElectroNick
The gif here https://cinnamon-spices.linuxmint.com/applets/view/268 is too big.
It's bigger than the screen. Is this also an CSS issue?

[2017-02-20 13:37] Odyseus commented on #7
Hello, everybody.

@NikoKrause & @MrElectroNick

Too large images can be easily fixed by the following code as reported [here](https://github.com/clefebvre/cinnamon-spices/issues/10):

[code]

[2017-02-21 10:33] MrElectroNick commented on #7
@Odyseus @NikoKrause - Thanks guys - update is coming

[2017-03-19 20:00] nyrrad commented on #12
Scroll bar will be back for now.
Going to implement responsive solution to the tiles on the category pages

[2017-03-21 19:31] nyrrad commented on #12
Should be completely fixed.
Pages are now responsive. There is re-flow on the homepage but not high priority.

commit: e37739485d7838d464ab23c84763f44261576e29

[2017-03-21 19:32] #12 closed

[2017-03-22 18:24] NikoKrause commented on #12
Much better.
There's a lot space wasted in the buttons though:

![screenshot-window-2017-03-22-192414](https://cloud.githubusercontent.com/assets/8415124/24214245/374c168e-0f35-11e7-9038-18b36428c75e.png)

[2017-03-22 22:52] nyrrad commented on #12
ill look into it

[2017-03-23 18:43] nyrrad commented on #12
I found whats causing the text wrap, easy fix. It'll be fixed with the next style sync

[2017-04-03 16:24] NikoKrause commented on #10
I think that's a good idea.
Since a lot of authors are still unknown this maybe could be done with a flag in the info.json file?
Wie could add the flag
[code]
or something like that in the info.json file.
The spices site could check, if this flag exists. If it does, it could create a link as suggested.
E.g. Force Quit by [clefebvre](www.github.com/clefebvre)

[2017-04-03 16:46] NikoKrause opened #14 "Show timestamp in UTC?"
Wie have a versioning for xlets now (every commit is a new version).
To reflect this I created this PR https://github.com/linuxmint/Cinnamon/pull/6372
It shows the timestamp of the last commit in the About... Dialog of applets and desklets.
The extensions and themes don't have an About... Dialog, I think.
Not sure how/where to present this info.

If this gets merged info Cinnamon:
It would be grea

[2017-04-16 21:39] MrElectroNick commented on #13
@NikoKrause All is about UTF-8 characters in description text. Fix is coming.

[2017-04-22 01:08] NikoKrause opened #15 "Add translation status to spices website"
I created a few markdown README files, that help developers and users to track the translation status.
See example for applets here https://github.com/NikoKrause/cinnamon-spices-applets/tree/translation-status/.translation-status

### Translation status by language
**Applets**

Language | ID | Status | Untranslated
---------|:--:|:------:|:-----------:
[Arabic](language-status/ar.md) | ar |  ![4%]

[2017-04-23 23:27] NikoKrause commented on #15
For now I'll update the status tables by hand once in a while at the following places:
[Applets status](https://github.com/NikoKrause/cinnamon-spices-applets/tree/applets-translation-status/.translation-status/README.md)
[Desklets status](https://github.com/NikoKrause/cinnamon-spices-desklets/blob/desklets-translation-status/.translation-status/README.md)
[Extensions status](https://github.com/Nik

[2017-04-25 19:38] NikoKrause commented on #15
How the scripts work:
https://github.com/NikoKrause/cinnamon-spices-applets/blob/applets-translation-status/.translation-status/status-scripts/README.md

[2017-04-28 22:15] NikoKrause commented on #15
1. https://github.com/NikoKrause/cinnamon-spices-desklets/blob/82782d81267bb07b35247d6b404088ff79692f4e/.translation-status/desklets-status/bbcwx%40oak-wood.co.uk/untranslated-po/et.csv
2. https://github.com/NikoKrause/cinnamon-spices-desklets/blob/desklets-translation-status/.translation-status/desklets-status/bbcwx%40oak-wood.co.uk/untranslated-po/et.md

The first shows result of a po2csv conver

[2017-04-28 22:33] NikoKrause commented on #15
There are also po2php converter and some other cool tools http://docs.translatehouse.org/projects/translate-toolkit/en/latest/index.html

[2017-04-30 11:27] pdcurtis commented on #10
The latest version of the Spices Website is a big step forwards. The login seems to be very fast and seamless if you have a gmail account.
It seems a little petty to put forward extra suggestions so early on but:
 * It is difficult to search for a spice or type of spice. There is no search box yet and the pagination means that one can not do a search of all the spices using the browser search. Thi

[2017-05-12 13:02] MrElectroNick commented on #10
@Odyseus Themes page is improved now - previews are now used instead of theme screenshot.png - page loads much faster now. So you can mark this item as done

[2017-05-12 16:18] Odyseus commented on #10
Infinite thanks, @MrElectroNick!

I just tested it and it loads immediately. Keep up the great job. 👍

[2017-05-13 07:05] NikoKrause commented on #13
This seems to be fixed now.

[2017-05-13 07:05] NikoKrause commented on #13
Ah. I looked at the wrong applet.

[2017-05-13 07:06] NikoKrause commented on #13
But Developer's Tools is showing right now.

[2017-05-13 10:33] MrElectroNick commented on #13
@NikoKrause Next time this applet is updated - description will be parsed again. You can do a dummy commit there to refresh it

[2017-05-13 11:03] NikoKrause commented on #13
Ah. Ok. No need for a dummy commit. As soon as an translation comes in it will be updated.

[2017-05-15 10:21] MrElectroNick commented on #3
@Piiit can you recheck please? screenshot.png now only used on any spice details page - not in list. List of themes should load quite fast now

[2017-05-15 11:13] Piiit commented on #3
@MrElectroNick Hi, it works great now! However, I noticed another small issue... The Facebook-theme preview on https://cinnamon-spices.linuxmint.com/themes is not loaded. The big preview in details loads correctly.

[2017-05-15 11:13] #3 closed

[2017-05-15 11:16] Piiit opened #19 "Feature request: Near "Latest / Popular" add another link "Show all on one page""
This would be a nice feature, because if all spices are shown on a single page browser's search functionality could be used to find things fast.

[2017-05-15 11:19] Piiit opened #20 "Feature request: Search could filter in real-time"
It already has a nice suggestions dropdown while searching. Great job!

An idea:
Why not integrate this real-time filtering directly in the already shown applets lists. This would give more instant information...

[2017-05-15 11:36] MrElectroNick commented on #20
@Piiit - Technically possible but requires mo time to implement and it might be really heavy job for browser. But let's keep it open for future :-)

[2017-05-15 11:38] MrElectroNick commented on #3
@Piiit Check again - all previews are showed on my end

[2017-05-15 14:50] Piiit commented on #3
@MrElectroNick Hi, I found the issue. It is a problem with Adblock Plus in Firefox...
There is a filter rule in a default filter list (`/uploads/*facebook.jpg`), that prevents this theme preview to be shown. So, it is not a cinnamon-spices problem... However, it is possible that more people have this rule activated.

[2017-06-06 21:53] nyrrad commented on #19
The search box provided already sifts through all the spices of that giving category regardless of page though.

[2017-06-13 14:02] mdchaves opened #21 "Rating system not working properly"
Whenever I "like" an applet or extension, its rating is decreased; not increased as anyone would expect. That's probably the reason why many popular applets have lost "stars" lately.

[2017-06-13 19:00] Odyseus commented on #21
Hello, @mdchaves.

That's the intended behavior of the new rating system. See [this blog post](http://blog.linuxmint.com/?p=3199) were it is mentioned (the paragraph just above **Improved security**).

[2017-06-13 19:14] mdchaves commented on #21
@Odyseus , I've just tested: Multi Translator had score=5. Then I like it, and now it has score=3. How on Earth can this be an intended behavior? What's the reason for that?

[2017-06-13 20:04] Odyseus commented on #21
@mdchaves.

The reason is in the blog post that I linked above.

[2017-06-13 21:32] mdchaves commented on #21
Sorry but the blog post doesn't say anything to that effect. It explains the reason for a new rating system, but obviously it says nothing about a crazy system that remove score when someone upvote an applet. That makes no sense at all.

[2017-06-17 00:20] nyrrad commented on #21
@mdchaves,
While @Odyseus is right that there is an inherit decay to the scores, a 2pt drop after hitting the like button confuses me.. I've tried to recreate your experience and haven't been able to yet. The only thing @MrElectroNick and i have been able to deduce is you might have possibly done it during a spice db update or something of the like. We're still looking into the matter.

[2017-06-17 02:28] mdchaves commented on #21
@nyrrad I've just tried reproducing it again. So when I "liked" mockturtl's Wheather applet, its score increased from 7 to 8 stars, as I would expect. But when I "liked" the Sticky notes applet, its score decreased from 5 to 3. So apparently the issue doesn't appear always in every applet.

[2017-06-19 09:38] clefebvre commented on #21
Votes were counted for a up to a month, this was changed today to a full year.

[2017-07-24 14:57] CottonEaster opened #24 "Feature request: ability to format comments on the 'spices' website"
Seemingy line breaks and indentation are removed from comments on the spices website - without warning, and without the possibility of editing the comment afterwards. Nor seemingly are italics or bold supported. Can't we have a text box . . like the one I am using to type this? It would be a great improvement.

(This report filed in this repository [onthe advice of NikoKrause](https://github.com/l

[2017-08-03 18:41] nyrrad commented on #24
It appears line breaks are lost in the initial ajax representation of the comment but are there if you refresh the page as this actually retrieves the comment from the db. Thank you for bringing this to my attention i will look into it and get a fix pushed asap.

 As for the other formatting(colors, text styles), i know Github uses markdown for their comments which might be a bit overkill for the

[2017-08-03 21:39] nyrrad commented on #24
Line break issue fix has been pushed. Wont be live for a little while though.

[2017-08-16 08:08] NikoKrause commented on #14
@MrElectroNick
The About dialog of spices shows the timestamp in UTC now in Cinnamon 3.4.
Also @collinss revamped the settings of spices, so in Cinnamon 3.6 it will be possible to show the About dialog of extensions and themes as well through settings.

It would be great, if we could show the timestamp of the last commmit in the same format as in the about dialog of the spices, so people can click

[2017-08-16 08:13] NikoKrause commented on #19
I agree with nyrrad. The search box lets you find spices very fast.
Also there was a single page for all spices in the past. The page was slow at loading and people complained it needed too much data volume.

[2017-08-16 08:19] NikoKrause opened #25 "Search box only shows results, when typing new characters"
Example:
Search for something (e.g. an author), which brings up more than one result.
Watch the first result. Now go back to the previous page with the search box.
Your search string is still there in the search box. Click on the search box to show the results again, but they don't show up. Also hitting ENTER to redo the search does not bring up the results back. You have to delete a character or

[2017-08-16 10:59] MrElectroNick commented on #25
@NikoKrause Good catch

[2017-08-16 13:39] nyrrad commented on #14
I'll look into it for you @NikoKrause. Should be pretty easy to implements

[2017-08-16 15:50] collinss commented on #14
@NikoKrause not themes. The about dialog is only available from the page that manages installed extensions, and that is not used in the theme settings.

[2017-08-16 16:10] NikoKrause commented on #14
Ah. Sorry my bad.

[2017-08-16 17:45] nyrrad commented on #14
The only foreseeable problem is how the spices are pulled into the database. It could lead to times being off for a small amount of time. It should be minimal though.

[2017-08-16 18:52] NikoKrause commented on #14
You mean the timestamp would differ?
I'm not sure, how/where the timestamp is added anyway. There'd also another open issue here, that when you download a spice manually by clicking on the Download button, the spice does not contain the timestamp.

[2017-08-17 10:01] NikoKrause opened #26 "Report bug/issue button, Feature request button"
Often saw, that users are reporting bugs or asking for features in the comments of the spices website, e.g. https://cinnamon-spices.linuxmint.com/applets/view/116 or https://cinnamon-spices.linuxmint.com/applets/view/279

Adding a `Bug report`/`Feature request` button to the spices website would possibly make it more obvious for people, where to report bugs to.

I found this site here https://fire

[2017-08-17 10:20] MrElectroNick commented on #26
What if we do an API call to github? Let's say - add a "Report bug" page where user can type in something - then we call GitHub API to add it as issue with proper title format?

[2017-08-17 10:26] NikoKrause commented on #26
I don't know how it works with GitHubs API. I found the bot and thought it's pretty easy.

The idea stays the same. The user should see a form, i.e. a "Report bug" page, something like this: ![bla](https://bugdigger.com/tour/bug-report-to-project.gif)

The how is not as important (either by fire-bot or by GitHub API). The fire-bot was only a suggestion.

[2017-08-17 10:33] MrElectroNick commented on #26
Ok. I find GitHub API more native way to communicate with it. I'll take a look into that

[2017-08-17 10:39] NikoKrause commented on #26
The form should prefill automatically:
- [ ] Spices UUID in the issue title
- [ ] Notify the author by adding @author at the end of the bug report
- [ ] The user, who reports the bug (since he's logged in through Facebook/Google+/GitHub this can be prefilled I guess? I.e. we need some info to contact the user for further informations. If it's a GitHub user that's easy. But if it's a Facebook or Go

[2017-08-17 11:00] jaszhix commented on #26
I like the idea, I've been responding to a lot of of bug reports in the comment sections encouraging them to submit an issue so we can get more info from them, but often times they don't which is frustrating. I'm for any solution that helps encourage more bug reports.

[2017-08-17 11:55] NikoKrause opened #27 "Show license info on website, like GitHub does"
GitHub has this feature to show the LICENSE of the repo, if there exists a COPYING or LICENSE file:
![screenshot-area-2017-08-17-134351](https://user-images.githubusercontent.com/8415124/29410761-56de4c92-8352-11e7-94ee-c7a9ed13adf1.png)

I think something similar can be done for the spices website.
I created a PR https://github.com/linuxmint/cinnamon-spices-applets/pull/1164

It adds a folder `.g

[2017-08-17 15:18] nyrrad commented on #26
Don't you think that could lead to a flooding of issues on the cinnamon-spices-xxxx repos. Especially if they don't get taken care of. It would be helpful if the owners actual repo was preserved in the json file somehow.

[2017-08-17 15:41] NikoKrause commented on #26
Users need to login to spices website with their Facebook/Google+/GitHub account to be able to see the `Report bug` button. If they use the button for spam, they can be blocked or we don't show the button for those users anymore (blacklist).

[2017-08-17 15:50] nyrrad commented on #26
I didn't mean spam. I just meant a build up of untouched issues. Sorry for the confusion

[2017-08-17 16:25] NikoKrause commented on #26
When reporting an issue on launchpad, they tell you to look, if the issue you want to report is already reported. They even show suggestions. Maybe something like this can be considered here. Before you can start to report an issue you get a list of issues belonging to the spice, e.g. a [link to open issue](https://github.com/linuxmint/cinnamon-spices-applets/issues?utf8=%E2%9C%93&q=is%3Aissue%20i

[2017-08-17 16:33] NikoKrause commented on #10
Regarding the request:

The authors of applets, desklets and extensions now are currently active and confirmed GitHub usernames. (as checked here https://github.com/linuxmint/cinnamon-spices-applets/issues/668)

Right now I'm checking the authors of themes and waiting for confirmation: https://github.com/linuxmint/cinnamon-spices-themes/issues/221

As soon as this is done, nothing should speak aga

[2017-08-18 01:59] nyrrad commented on #10
Once the theme authors are confirmed let me know and ill implement it :+1:

[2017-08-18 02:03] nyrrad commented on #26
This would work perfectly. Having a link on the top of the individual spice page that says "issues" and brings you the the corresponding cinnamon-spices-xxxx repo with the search field filled in with the spice name. We could put a reminder or little message that pops up when they mouse over the issue button to remind them of searching before reporting, being detailed, etc.

As for the layer betwee

[2017-08-18 02:52] #21 closed

[2017-08-18 02:53] nyrrad commented on #21
Issue seems to be much less now that its more of a yearly decay than monthly

[2017-08-18 03:25] nyrrad commented on #13
Is this issue resolved then?

[2017-08-18 03:46] NikoKrause commented on #13
Yes.

[2017-08-18 03:46] #13 closed

[2017-08-18 14:30] MrElectroNick commented on #13
Nice. Finally this applet has been updated :rofl:

[2017-08-18 14:34] #10 closed

[2017-08-18 14:34] NikoKrause commented on #13
Yeah, the author has been set to none :)

[2017-08-20 18:09] nyrrad commented on #26
![issue_button](https://user-images.githubusercontent.com/12882579/29497118-09b66c8a-85a8-11e7-9261-2e77c97b9487.png)

Implemented issue button like so.
Links to corresponding cinnamon-spices-xxxx repo with search field _is:open is:issue uuid_

It may not be perfect but for the time being hopefully it diverts people from posting issues in the comments. Only downside i can see is it forces people t

[2017-08-20 18:31] nyrrad commented on #14
![utc](https://user-images.githubusercontent.com/12882579/29497269-eab36ace-85aa-11e7-8e55-5d4b061ed633.png)

What do you think about this as a compromise?
It keeps the relative time there but if you want to compare timestamps, its there in UTC

I'm trying to roll this into an update that also resolves issue https://github.com/clefebvre/cinnamon-spices/issues/2 as well.

[2017-08-21 12:03] NikoKrause commented on #14
Will it be obvious, that the UTC is available on hover?
I just noticed, that there is a tolltip, if you hover over the hour. Haven't seen it before.

I'm not entirely sure, but if you think that's a good compromise, then I'm ok with it.

[2017-08-21 12:34] NikoKrause commented on #26
I talked with collinss about it. He says, that there are mostly 2 kind of people:
1. those who don't know where to post issues
2. those who don't care where to post and you don't get much info from them anyway.

About needing users to create a GitHub when reporting a bug would be probably the best. This way it's assured, that you can contact the user for more info.

I found out, that it's possible

[2017-08-21 12:39] NikoKrause commented on #26
I like that the `Like button` has a star icon. Would it be too much to add icons to the other buttons too?
E.g. Github icon for `Website`, Arrow down icon for `Download`, and a bug for `Issues` button.

[2017-08-21 12:41] NikoKrause commented on #26
P.P.S.: If the number of stars is shown right to the `Like it` button, you don't need the `Score: 0` text below the `UUID` anymore

[2017-08-21 12:46] NikoKrause commented on #14
As @piiit mentionen in #2: The commit has is not meaningful, maybe you replace the has with the UTC timestamp?

**Last commit:** [[2017-08-20 04:21 UTC](https://github.com/linuxmint/cinnamon-spices-applets/commits/master/a4techTool@mous)] a4techTool@mous: Create da.po (#979)

[2017-08-21 15:43] NikoKrause commented on #14
@nyrrad

If you hover over the `Last edited: 1 month ago` on the spices website there appears the timestamp. That's the same timestamp, which is used for the About dialog of the spices. So you can use that to calculate/show the UTC time. (This timestamp is a little bit off to the one on GitHub itself. But it doesn't matter, because only thing that matters is, that it shows the same on the spices w

[2017-08-21 16:01] NikoKrause opened #28 "Use icons on buttons"
I'm a guy, who likes icons on buttons. So this is a suggestion, which I think would look good. But it's only my opinion. You guys are the design team, if you think this is a bad idea, i.e. it would look ugly, please feel free to close this request:

My ideas:
Use this icons:
![screenshot-area-2017-08-21-175011](https://user-images.githubusercontent.com/8415124/29527450-364649fe-8699-11e7-9a49-a82f

[2017-08-21 16:06] NikoKrause opened #29 "Recent Comments"
Often comments are unheard, because you don't get a notification that a comment has been written.
You just see them by accident, when you browse the spices pages

Make comments more useful by showing `Recent Comments` similar as it's done here: http://segfault.linuxmint.com/

[2017-08-21 16:12] nyrrad commented on #14
@NikoKrause how are you getting to this about dialogue? everything i click on just brings me to the spices website. I recently pushed an update to the import scripts on the server that uses the ACTUAL commit time of the commit rather than an arbitrary unix_timestamp() like it was... You saying they use the same thing right now has me wondering how it works for the cinnamon de itself.

[2017-08-21 17:05] NikoKrause commented on #14
If you add an applet to the panel or a desklet to the desktop, you right click on the applet/desklet and then click `About ...` in the context menu:
![screenshot-area-2017-08-21-185346](https://user-images.githubusercontent.com/8415124/29529989-26e0c06c-86a2-11e7-9baf-c9db0a321c40.png)
The Dialog pops up in the center of your screen:
![screenshot-area-2017-08-21-185523](https://user-images.githubu

[2017-08-21 17:26] collinss commented on #14
Just an fyi, the about dialog gets the timestamp from the spices website when the cache is refreshed, so as long as the cache is up to date, the timestamps should always match. The issue comes if the user installs or updates without refreshing the cache. This can potentially lead to a situation where the applet is up to date, but the timestamps say otherwise.

[2017-08-21 19:04] NikoKrause opened #30 "Broken applets page"
The page of an applet is broken: https://cinnamon-spices.linuxmint.com/applets/view/247

[2017-08-21 19:25] nyrrad commented on #30
I have pushed a fix for this already, It was being cause by parsedown not being imported when no readme exists but a changelog does.

[2017-08-21 19:25] #30 closed

[2017-08-21 19:44] NikoKrause commented on #30
Thanks!

[2017-08-21 19:50] nyrrad commented on #14
@NikoKrause I believe the times are off because the site is probably running under the GMT timezone not UTC so it is being affected by day light savings time. This can be changed in the site configs, so the problem shouldn't persist for too terribly long.

As for the time stamp instead of the hash, I think the shortened hash should be there as it gives another comparative symbol. I have however ch

[2017-08-21 20:40] NikoKrause commented on #14
I can remove the seconds in Cinnamons side. I just squash it into an open PR of mine.

[2017-08-21 21:55] collinss commented on #14
It would be nice if we could add the timestamp to the metadata when an applet is downloaded, so that even if the cache is not up to date, the proper timestamp is given in the about dialog. Also, another issue that I forgot to mention with installing from an incorrect timestamp is that once the cache is updated it will show an update for the applet, even if there isn't one. These problems are somew

[2017-08-22 00:22] nyrrad commented on #14
@collinss
is this metadata.json uniform across applets/desklets/extensions/themes?
I'm looking at the cinnamon code right now, does it simply skip the _load_metadata step if there isn't one, or does it try to retrieve it from somewhere else?

Right now the import scripts for the site, don't do anything but zip the files/uuid directory. I can write something that updates the metadata.json with the

[2017-08-22 02:11] collinss commented on #14
Themes don't currently need to have metadata.json, but everything else does. Uuid is currently a required field in that file. Author isn't required, but some of them have it already, and none of them currently have last_edited because it's added by cinnamon settings at the time of download.

[2017-08-22 08:04] NikoKrause commented on #14
@nyrrad
I created a PR to remove the seconds in the About dialog: https://github.com/linuxmint/Cinnamon/pull/6808/files

It looks like this now:
![screenshot-area-2017-08-22-100024](https://user-images.githubusercontent.com/8415124/29554819-dce4beee-8720-11e7-971b-8c963e714160.png)

[2017-08-23 17:06] NikoKrause commented on #27
I merged the LICENSE PR: https://github.com/linuxmint/cinnamon-spices-applets/pull/1164, so you have something to test with.

[2017-08-28 13:16] NikoKrause commented on #26
@nyrrad
I thought about your issue button implementation. I think it suffices. It shows all open (and closed) issues belonging to an applet/desklet etc. And there's also a `New Issue` button right there on GitHub, which says the user to Sign Up, when they don't have a GitHub account. It's simple and doesn't overcomplicate stuff. Lets try this.

Also together with something like this https://github

[2017-08-28 13:46] nyrrad commented on #26
@NikoKrause
Yea i agree. its simple, concise and uses the tools already there. It'll be even better when all the spices repos have CODEOWNER and ISSUE_TEMPLATE implemented uniformly.

[2017-08-28 13:50] #26 closed

[2017-08-28 14:23] NikoKrause commented on #26
The CODEOWNERS is there uniformly for applets/desklets/extensions. There's an open PR for themes (I don't have write access for that). Unfortunately CODEOWNERS works only for users with write access to the repo. I asked a feature request to GitHub to make it work for Contributors or something similar, i.e. so that the user/author/codeowner doesn't need to have write access.

The ISSUE_TEMPLATE is

[2017-08-28 14:47] nyrrad commented on #26
Yea i noticed the CODEOWNERS doesn't work for issues either so thats my fault for not reading into it more.

As for the ISSUE_TEMPLATE, i agree the applets one is a bit bloated. It could however use an explanation on how to title the issue, Sending them back to the CONTRIBUTING.md to see the title convention seems a bit unnecessary.

[2017-08-29 14:42] NikoKrause opened #31 "User name is link to spices website"
@nyrrad
I've seen this a few times now. There is a user (ore maybe there are users), which have https://cinnamon-spices.linuxmint.com/ as user name. See here https://cinnamon-spices.linuxmint.com/applets/view/161

I think it's [this user](https://github.com/linuxmint/cinnamon-spices-applets/issues/1188), because his/her report seems to be similiar.

[2017-08-29 15:00] melmelissa commented on #31
hello

In fact I am the same person.

Alas my problem is still current despite the various updates.
Am i the only one to have this applet bug on Debian. ??
Because on Archlinux, the same applet works well ..
I do not understand the problem ..
Despite my many researches, I remain unanswered and without solution especially ..

[2017-08-29 18:31] NikoKrause commented on #29
Also as an addition the number of comments could be shown on the website:
![screenshot-area-2017-08-29-202213](https://user-images.githubusercontent.com/8415124/29837629-f5f071a2-8cf8-11e7-8145-8db2b296ea2e.png)

[2017-08-29 18:40] nyrrad commented on #31
@melmelissa i cant help with the applet error, sorry. This is the issue tracker for the website itself.

But with that you could help me. What method are you using for logging into the spices website? Facebook github or google?

@nikokrause ive seen this same error when the info from the oauth provider isnt avaliable. I have a sneaking suspicion that this is being cause by facebook privacy setting

[2017-08-29 20:46] NikoKrause commented on #31
@melmelissa
Can you help us with this issue and tell us what method did you used for logging into the spices website as you wrote your comment here: https://cinnamon-spices.linuxmint.com/applets/view/161 ?
Did you logged in with Facebook, GitHub or Google+?

[2017-08-29 21:27] melmelissa commented on #31
Sorry i had not seen your posts ..
I connect to spice cinnamon with my Google+ account

[2017-08-30 18:08] NikoKrause commented on #31
Here's a User `Miguel Bustos`: https://cinnamon-spices.linuxmint.com/applets/view/282
If you click his name, it links to the spices website.

[2017-08-30 19:43] nyrrad commented on #31
@nikokrause the site defaults to that when oauth doesnt privide a user link. Which facebook does not(miguel is using fb)  unless you set the privacy setting to allow it. Unless its looking for the wrong endpoint, which is definitely possible.

The google+ bug that this is originally about is tricky though. I'm having trouble reproducing it

[2017-08-30 20:55] NikoKrause commented on #31
Wouldn't it be better to have no link, just the user Name, in such cases?

Maybe @melmelissa can help us? Do you mind telling us, which privacy settings did you set on Google+?

[2017-08-31 02:24] nyrrad commented on #31
Yea probably, set it to '#' so it doesn't go anywhere.

This bug is going to take a backseat until i can get caught up with some others opened recently though. This is the first occurrence I've seen as the name coming through like that, leading me to believe its not the most common.

[2017-08-31 02:31] nyrrad commented on #24
After doing some research on the matter, i think that we're going to forgo the markdown comments for the time being. It opens up xss possibilities that are not worth the gain at the moment.

With the recent fix to formatting and links being actual hyperlinks and the new issue button being rolled out, there is sufficient functionality for a comment section.

[2017-08-31 02:31] #24 closed

[2017-08-31 02:35] nyrrad commented on #29
The comment count really isn't pertinent to the spice itself though, so putting it in the spice card on the lists isn't really necessary. @MrElectroNick and i were discussing the possibility of introducing rss feeds for each spices comment sections. That way the author or whomever wants to track the comments they can. With the issue button hopefully becoming more prominent, this will hopefully not

[2017-08-31 02:38] nyrrad commented on #9
But thats what the score or star metric is for. The most popular spices will rise to the top. A download counter doesn't seem to bring anything to the table that the score doesn't.

[2017-08-31 06:10] NikoKrause commented on #29
I think it would be better to make it more visible for everybody to see on a glance, if and where a new comment has been made. (In addition to an RSS feeder if you want.) I like how it's done in segfault, that's why I suggested it.

Or maybe I wrong. I'm not very familiar with RSS feeds? If I want to track all applets, will I need to sign up to 100s of feeds? Or will this be easy?

[2017-08-31 17:29] jake1164 commented on #9
Wouldn't it add some context to the star metric?  An app with 2 stars and 5 downloads vs 2 stars and 1000 downloads paints a much different picture than just 2 stars.

[2017-09-06 15:23] NikoKrause commented on #10
@nyrrad
When this https://github.com/linuxmint/cinnamon-spices-themes/pull/241 and this https://github.com/linuxmint/cinnamon-spices-themes/pull/222 gets merged, then there are only 4 authors left to check.

One author has a Google+ account. I don't have G+. Can you ask him for his GitHub username?
It's this one https://plus.google.com/communities/105043009531408262017

[2017-09-10 03:43] nyrrad commented on #10
@NikoKrause I sent him a message on hangouts, we'll see if he responds. I'll let you know

[2017-09-15 02:29] nyrrad commented on #2
Hash has been trimmed down to 8chars, commit message now appears on spice pages.
Hash now links to actual commit, not commit tree.

[2017-09-15 02:30] #2 closed

[2017-09-15 02:44] nyrrad commented on #14
@NikoKrause I pushed a fix, All times should now be displayed as UTC on the site. We're pushing from staging to prod tomorrow. Should show up then

[2017-09-15 02:44] #14 closed

[2017-09-15 06:45] NikoKrause commented on #14
Cool. Can't wait

[2017-09-15 10:50] NikoKrause commented on #14
I'm on cinnamon-spices-master right now. I like the hover for the timestamp.

But there's one change I don't like:
Hitting the Last commit link brings you to the [github commits](https://github.com/linuxmint/cinnamon-spices-applets/commit/4af8a4f122325a8cb3e52f69a58ba6b53faf6ae8) site. It used to link to the [spices history page](https://github.com/linuxmint/cinnamon-spices-applets/commits/master/

[2017-09-15 13:37] nyrrad commented on #14
@NikoKrause reverted back to commit tree.

[2017-09-15 13:50] NikoKrause commented on #14
Thanks!

[2017-09-19 17:33] NikoKrause commented on #7
Are markdown `codeblocks` also a CSS issue?
https://cinnamon-spices.linuxmint.com/desklets/view/35
vs
https://github.com/linuxmint/cinnamon-spices-desklets/tree/master/googleCalendar@javahelps.com

[2017-09-20 03:07] nyrrad commented on #7
Tables and `codeblocks` fixed. Currently visible on master.

Going to leave this issue open for now to see if there are any others missing

[2017-10-02 22:05] nyrrad commented on #6
Have a fix for this created, waiting on approval.

[2017-10-07 21:36] nyrrad commented on #31
I'm able to recreate this bug. Its being called by using a google account that does NOT have a google+ account associated with it.

[2017-10-07 22:56] nyrrad commented on #31
Fix pushed, Can see on master

[2017-10-07 22:56] #31 closed

[2017-10-12 12:00] jake1164 opened #32 "Change the Spices url to use the UUID vs a random Key value"
Is it possible to make the url use the format:
https://cinnamon-spices.linuxmint.com/applets/**UUID**
or
https://cinnamon-spices.linuxmint.com/applets/view/**UUID**

For instance:
https://cinnamon-spices.linuxmint.com/applets/CinnVIIStarkMenu@NikoKrause
is much more user friendly than:
https://cinnamon-spices.linuxmint.com/applets/view/281

This also allows easier automation for data mining of spi

[2017-10-13 01:49] nyrrad commented on #32
We recently were discussing this very issue. Its currently on my TODO: list

[2017-10-13 13:49] jake1164 commented on #32
Out of curiosity is the database schema documented anywhere or are there scripts to create the database?